<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Tracking Guild Lines</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="/css/darkmode.css">
</head>
<body>
    <%- include('../layout/header')%>
    
      <main class="main-container">
            <!-- 
        Hi, please help me to to display a video here
            For example: We have a template/video/video1.mp4 
            './video/video1.mp4' display here, you can help me align the frame in the middle, fancy CSS stuffs ^-^ 
             -->
             <iframe width="560" height="315" src="https://www.youtube.com/embed/Eh2eFk6f9zc?si=4zhQVijeN9tFRfIN"
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             
             <img src="./imgs/mainpage_instruction.jpg" alt="Main page web tracking service">
             <p>Welcome to tracking service, you can track price from any pages, I mean any page you name it!, 
                airplane ticket price, stocks market, crypto sites, Amazon / Ebay / ...'s products, even the weather </p>
            <img src="./imgs/url_instruct.png" alt="User need to give a valid URL in order to start the process.">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facilis odit, delectus ut commodi recusandae totam animi, 
                dicta tempora laborum iusto consequuntur ex dolorum, quam in officia neque blanditiis! Eos!</p>
            <img src="./imgs/eletype_instruction.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facilis odit, delectus ut commodi recusandae totam animi, 
                dicta tempora laborum iusto consequuntur ex dolorum, quam in officia neque blanditiis! Eos!</p><img src="/static/imgs/change-status.png" alt="">
            <img src="./imgs/extra-elements_instr.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facilis odit, delectus ut commodi recusandae totam animi, 
                dicta tempora laborum iusto consequuntur ex dolorum, quam in officia neque blanditiis! Eos!</p>
            </main>

            

    <%- include('../layout/footer')%>

    <script src="/js/index.js"></script>
    <script src="/js/event.js"></script>
</body>
</html>