<div class="alert-settings">
            <div class="alert-option">
            <div class="checkbox-group">
                <div class="squaredThree">
                    <input type="checkbox" id="price-drop" name="drop" value="drop">
                    <label for="price-drop"></label>
                </div>
                <a data-tooltip="Expectd target will be sent to your email">
                    <label for="price-drop">Notify when price drops below:</label>
                </a>
                <input type="number" id="drop-input" name="userDropOutput">

            </div>
            
            <div class="checkbox-group">
                <div class="squaredThree">
                    <input type="checkbox" id="price-rise" name="rise" value="rise">
                    <label for="price-rise"></label>
                </div>
                <a data-tooltip="Expectd target will be sent to your email">
                    <label for="price-rise">Notify when price rises above:</label>
                </a>
                <input type="number" id="rise-input" name="userRiseOutput">
            </div>
        </div>